@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Libre Franklin', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, p {
    font-family: 'Montserrat';
}

/* Aba de menu de navegação principal */

.max-width {
    max-width: 1190px;
    margin: 0 auto;
    padding: 20px 20px;
}

.menu-options {
    background: #000;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.content-menu-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-menu-options div {
    display: flex;
    align-items: center;
}

.menu-options .max-width div img {
    width: 7rem;
    cursor: pointer;
    margin-right: 20px;
}

.ul-menu-options {
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
}

.ul-menu-options li {
    font-size: 1rem;
    margin-left: 40px;
}

.ul-menu-options li a {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 33px 0;
    transition: all 0.3s linear;
}

.a-menu-options-pri {
    color: #C80000 !important;
    border-bottom: 4px solid #CE0202;
}

.ul-menu-options li a:hover {
    color: #C80000;
    border-bottom: 4px solid #CE0202;
}

.cta-abra {
    color: #fff;
    background: #C80000;
    padding: 15px 30px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out;
}

.cta-abra:hover {
    transform: scale(1.04);
}

ion-icon {
    color: #fff;
}

ion-icon[name='menu'] {
    font-size: 2rem;
    display: none;
}

/* Aba Home do site(Jogadores) */

#home {
    background: #000;
}

#home .max-width {
    padding: 100px 0 0 0;
}

#home .content-header {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/bg-rede.png);
    background-position: 80% 40%;
    background-repeat: no-repeat;
    background-size: 120vh auto;
}

#home .content-header .left {
    color: #fff;
    width: calc(50% - 10px);
}

#home .content-header .left h1 {
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 800;
}

#home .content-header .left p {
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: #aaa;
}

#home .content-header .rigth {
    width: calc(50% - 10px);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-btn {
    display: none;
}

#home .content-header .rigth img {
    width: 100%;
    filter:
        brightness( 115% )
        contrast( 115% )
        saturate( 123% )
        blur( 0px )
        hue-rotate( 0deg );
}

/* Aba do programa de parceria de 50% de desconto */

#programa {
    background-image: url(images/bg-manto.png);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
}

#programa .content-programa {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

#programa .content-programa .left {
    width: calc(50% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#programa .content-programa .left img {
    width: 90%;
}

#programa .content-programa .rigth {
    width: calc(50% - 30px);
}

#programa .content-programa .rigth h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
}

#programa .content-programa .rigth p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
}


/* Aba de slide de cartões */


#cartoes .content-cartoes {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 70px 0;
}

#cartoes .content-cartoes h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

#cartoes .content-cartoes p {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #777;
}

#cartoes .content-cartoes ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
}

#cartoes .content-cartoes ul li {
    width: calc(20% - 10px);
}

#cartoes .content-cartoes ul li img {
    width: 100%;
}

/* Aba de carteira(produtos) do banco */

#carteira {
    background: #F4F4F4;
    color: #C80000;
    width: 100%;
}

#carteira .max-width {
    padding: 30px;
}

#carteira .content-carteira {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 30px 0;
}

#carteira .content-carteira h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    width: 60%;
    margin: 0 auto 0 auto;
}

#carteira .content-carteira .p-carteira {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 60%;
    margin: 20px auto 0 auto;
    font-size: 16px;
    font-weight: 500;
    color: #777;
}

#carteira .content-carteira section {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#carteira .content-carteira section div {
    width: calc(33.3% - 20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#carteira .content-carteira section div i {
    font-size: 35px;
    margin-bottom: 25px;
}

#carteira .content-carteira section div h3 {
    margin-bottom: 25px;
    font-family: 'Montserrat';
}

#carteira .content-carteira section div p {
    margin-bottom: 25px;
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat';
    color: #000;
}


/* Aba de cta para download as stores(Android e Apple) */


#stores {
    background-image: url(images/bg-stadium.jpg);
    background-position: 50%;
    background-size: cover;
}

#stores .max-width {
    padding: 0;
}

#stores .content-stores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#stores .content-stores section {
    width: calc(50% - 10px);
}

#stores .content-stores .left {
    display: flex;
    justify-content: center;
}

#stores .content-stores .left img {
    width: 75%;
    margin-top: 50px;
}

#stores .content-stores .rigth {
    padding: 30px 50px 30px 0;
    color: #fff;
}

#stores .content-stores .rigth h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
}

#stores .content-stores .rigth button {
    background: #000;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    margin: 40px 0;
    cursor: pointer;
}

#stores .content-stores .rigth div a {
    margin-right: 10px;
}

#stores .content-stores .rigth div img {
    width: 120px;
}

#stores .content-stores .rigth p {
    margin-top: 5px;
    font-weight: 600;
}


/* Aba de cta para download as stores(Android e Apple) */


.kitmengo .content-kitmengo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 0;
}

.kitmengo .content-kitmengo section {
    width: calc(50% - 10px);
}

.kitmengo .content-kitmengo .left {
    padding-right: 10px;
}

.kitmengo .content-kitmengo .left h2 {
    font-size: 44px;
    font-family: 'Montserrat';
    font-weight: 800;
    line-height: 1em;
    color: #191919;
    margin-bottom: 20px;
}

.kitmengo .content-kitmengo .left p {
    font-size: 16px;
    font-family: 'Montserrat';
    line-height: 1.8rem;
    color: #777;
    margin-bottom: 30px;
    font-weight: 500;
}

.kitmengo .content-kitmengo .left a {
    font-size: 18px;
    font-family: 'Montserrat';
    color: #191919;
    font-weight: 600;
}

.kitmengo .content-kitmengo .left a:hover {
    color: #000;
    text-decoration: underline;
}

.kitmengo .content-kitmengo .rigth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kitmengo .content-kitmengo .rigth img {
    width: 85%;
}


/* Aba de Footer do site */

#footer {
    background: #000;
    color: #fff;
}

#footer .max-width {
    padding-bottom: 0;
    padding-top: 0;
}

#footer a {
    color: #fff;
    transition: all 0.3s ease;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .infos-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0 160px 0;
}

#footer .content-footer hr {
    height: 1px;
    border: none;
    background: #555;
}

#footer .content-footer .infos-footer section {
    width: calc(25% - 10px);
    padding-right: 40px;
}

#footer .content-footer .infos-footer section a {
    display: block;
}

#footer .content-footer .infos-footer section:first-child a {
    display: inline-block;
    padding: 0;
    text-decoration: none;
}

#footer .content-footer .infos-footer section:first-child p {
    padding-bottom: 10px;
    font-size: 14px;
}

#footer .content-footer .infos-footer section:first-child img {
    width: 50%;
}

#footer .content-footer .infos-footer section:first-child .imgs-icos-foo {
    font-size: 26px;
    padding: 10px 0 40px 0;
}

#footer .content-footer .infos-footer section:first-child .imgs-icos-foo a {
    padding-right: 10px;
}

#footer .content-footer .infos-footer section:first-child .imgs-icos-foo i:hover {
    color: #C80000;
}

#footer .content-footer .infos-footer section:first-child .imgs-stores-foo {
    width: 90%;
}

#footer .infos-footer section a, #footer .infos-footer section p {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat';
    padding-bottom: 40px;
}

#footer .content-footer .infos-footer section strong {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat';
}

#footer .content-footer .infos-footer section:last-child p {
    font-size: 11px;
    font-weight: 400;
    padding-top: 30px;
    text-transform: unset;
}

#footer .content-footer footer {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer .content-footer footer p, #footer .content-footer footer a {
    font-size: 10px;
    -webkit-font-smoothing: antialiased
}



@media (max-width: 900px) {
    .ul-menu-options li {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    
    #home .content-header .left h1 {
        font-size: 36px;
        font-weight: 800;
    }
    
    #home .content-header .left p {
        margin-top: 12px;
        font-size: 14px;
    }

    
    #stores .content-stores .rigth h2 {
        font-size: 30px;
        line-height: 40px;
    }
    
    #stores .content-stores .rigth div a {
        margin-right: 5px;
    }
    
    #stores .content-stores .rigth div img {
        width: 80px;
    }
    
    #stores .content-stores .rigth p {
        font-size: 14px;
    }

}

@media (max-width: 775px) {
    .nav-btn {
        display: none;
    }

    ion-icon[name='menu'] {
        color: #C80000;
        display: block;
    }

    #home .content-header {
        background-image: none;
    }
}

@media (max-width: 622px) {

    .header-btn {
        display: block;
        margin-bottom: 20px;
    }

    .max-width {
        margin: 0 auto;
        padding: 40px;
    }

    /* Menu */

    .menu-options .max-width {
        padding: 20px;
    }

    .menu-options .max-width img {
        padding: 10px;
    }
    
    .ul-menu-options {
        display: none;
    }

    /* Header */
    
    #home .content-header .left {
        color: #fff;
        width: 100%;
        padding: 80px 0;
        text-align: center;
    }
    
    #home .content-header .left h1 {
        font-size: 40px;
        padding: 0 50px;
    }
    
    #home .content-header .left p {
        margin-top: 10px;
        font-size: 16px;
    }
    
    #home .content-header .rigth {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #home .content-header .rigth img {
        width: 70%;
        filter:
            brightness( 115% )
            contrast( 115% )
            saturate( 123% )
            blur( 0px )
            hue-rotate( 0deg );
    }

    /* Programas de 50% */
    
    #programa .content-programa .left {
        width: 100%;
    }
    
    #programa .content-programa .left img {
        width: 70%;
    }
    
    #programa .content-programa .rigth {
        width: 100%;
    }
    
    #programa .content-programa .rigth h2 {
        color: #fff;
        margin-bottom: 20px;
        font-size: 22px;
        font-family: 'Montserrat';
        font-weight: 700;
        padding: 30px 30px 0 30px;
        text-align: center;
    }
    
    #programa .content-programa .rigth p {
        color: #fff;
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
    }

    
    /* Aba de cartões */

    #cartoes .content-cartoes {
        padding: 30px 0;
    }
    
    #cartoes .content-cartoes h2 {
        text-align: center;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
    }
    
    #cartoes .content-cartoes p {
        font-size: 14px;
        width: 90%;
    }
    
    #cartoes .content-cartoes ul {
        flex-direction: column;
        margin-top: 50px;
    }
    
    #cartoes .content-cartoes ul li {
        width: 70%;
    }
    
    #cartoes .content-cartoes ul li img {
        width: 100%;
    }


   
    
    #carteira .content-carteira {
        flex-direction: column;
    }
    
    #carteira .content-carteira h2 {
        font-size: 22px;
        width: 90%;
    }
    
    #carteira .content-carteira .p-carteira {
        width: 90%;
        font-size: 15px;
    }
    
    #carteira .content-carteira section {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    
    #carteira .content-carteira section div {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    
    #carteira .content-carteira section div h3 {
        margin-bottom: 22px;
    }
    
    #carteira .content-carteira section div p {
        text-align: center;
        font-size: 15px;
    }



    #stores .max-width .content-stores {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #stores .content-stores section {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    #stores .content-stores .left {
        display: none;
    }
    
    #stores .content-stores .rigth {
        padding: 50px;
    }
    
    #stores .content-stores .rigth h2 {
        font-size: 30px;
        font-weight: 800;
        line-height: 30px;
        text-align: center;
    }
    
    #stores .content-stores .rigth button {
        background: #000;
        color: #fff;
        border: none;
        padding: 12px 30px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
        margin: 40px 0;
    }

    #stores .content-stores .rigth div {
        display: flex;
        
    }
    
    #stores .content-stores .rigth div a {
        margin-right: 10px;
    }

    #stores .content-stores .rigth div a:last-child {
        margin-right: 0px;
    }
    
    #stores .content-stores .rigth div img {
        width: 120px;
    }
    
    #stores .content-stores .rigth p {
        margin-top: 5px;
        font-weight: 600;
    }
    


    /* Aba de cta para download as stores(Android e Apple) */


    .kitmengo .content-kitmengo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px 0;
    }

    .kitmengo .content-kitmengo section {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .kitmengo .content-kitmengo .left {
        padding-right: 0px;
    }

    .kitmengo .content-kitmengo .left h2 {
        font-size: 25px;
        line-height: 1em;
        color: #191919;
        margin-bottom: 20px;
    }

    .kitmengo .content-kitmengo .left p {
        font-size: 14px;
        font-family: 'Montserrat';
        line-height: 20px;
        color: #777;
        margin-bottom: 30px;
        font-weight: 500;
    }

    .kitmengo .content-kitmengo .left a {
        font-size: 14px;
    }

    .kitmengo .content-kitmengo .left a:hover {
        color: #000;
        text-decoration: underline;
    }

    .kitmengo .content-kitmengo .rigth {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .kitmengo .content-kitmengo .rigth img {
        width: 85%;
    }

    
    
    #footer .infos-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 80px 0 50px 0;
    }
    
    #footer .content-footer hr {
        height: 1px;
        border: none;
        background: #555;
    }
    
    #footer .content-footer .infos-footer section {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    #footer .content-footer .infos-footer section a {
        display: block;
    }
    
    #footer .content-footer .infos-footer section:first-child a {
        display: inline-block;
        padding: 0;
        text-decoration: none;
    }
    
    #footer .content-footer .infos-footer section:first-child p {
        padding-bottom: 10px;
        font-size: 14px;
    }
    
    #footer .content-footer .infos-footer section:first-child img {
        width: 50%;
    }
    
    #footer .content-footer .infos-footer section:first-child .imgs-icos-foo {
        font-size: 26px;
        padding: 10px 0 40px 0;
        margin-top: 20px;
    }
    
    #footer .content-footer .infos-footer section:first-child .imgs-icos-foo a {
        padding-right: 10px;
    }
    
    #footer .content-footer .infos-footer section:first-child .imgs-icos-foo i:hover {
        color: #C80000;
    }
    
    #footer .content-footer .infos-footer section:first-child .imgs-stores-foo {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #footer .content-footer .infos-footer section:first-child .imgs-stores-foo a {
        margin-top: 10px;
    }

    #footer .content-footer .infos-footer section:first-child .imgs-stores-foo a:first-child {
        margin-top: 0px;
    }
    
    #footer .infos-footer section a, #footer .infos-footer section p {
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Montserrat';
        padding-bottom: 40px;
    }
    
    #footer .content-footer .infos-footer section strong {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Montserrat';
    }
    
    #footer .content-footer .infos-footer section:last-child p {
        font-size: 11px;
        font-weight: 400;
        padding-top: 30px;
        text-transform: unset;
    }
    
    #footer .content-footer footer {
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    #footer .content-footer footer p, #footer .content-footer footer a {
        margin-top: 20px;
        font-size: 10px;
        -webkit-font-smoothing: antialiased
    }
}

@media (max-width: 450px) {
/* Header */
    
    #home .content-header .left {
        color: #fff;
        width: 100%;
        padding: 80px 0;
        text-align: center;
    }
    
    #home .content-header .left h1 {
        font-size: 25px;
        padding: 0 20px;
    }
    
    #home .content-header .left p {
        margin-top: 10px;
        font-size: 13px;
        padding: 0 30px;
    }
    
    #home .content-header .rigth {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #home .content-header .rigth img {
        width: 70%;
        filter:
            brightness( 115% )
            contrast( 115% )
            saturate( 123% )
            blur( 0px )
            hue-rotate( 0deg );
    }
}